body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    margin-left: 10%;
    margin-right: 50%;
}

img {
    border-radius: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #007BFF;
    background-color: 175, 250, 247;
}

a:hover {
    text-decoration: underline;
}
